@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "EdwardianKT";
    src: url("../public/fonts/00085-UTM-EdwardianKT.ttf");
  }

:root {
    --swiper-theme-color: #f5f5f5 !important;
}