.bannerContainer {
  width: 100%;
  height: 474px;
  position: relative;
}
.bannerImageVisible {
  display: block;
  animation: fadeIn .8s ease-out;
  filter: brightness(80%);
}

.bannerImageHide {
  animation: fadeIn .8s ease-out;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;    
  } to {
    opacity: 1;    
  }
}